<!-- Template: {{ _self }}.twig -->
<div class="my-8 space-x-2 flex justify-center">
    {% if pageInfo.currentPage != 1 %}
        <a class="text-primary px-5 py-2 rounded border border-gray-300" href="{{ pageInfo.firstUrl }}">First</a>
    {% endif %}
    {% if pageInfo.prevUrl %}
        <a class="text-primary px-5 py-2 rounded border border-gray-300" href="{{ pageInfo.prevUrl }}">Previous</a>
    {% endif %}
    {% for page, url in pageInfo.getPrevUrls(4) %}
        <a class="text-primary px-5 py-2 rounded border border-gray-300" href="{{ url }}">{{ page }}</a>
    {% endfor %}
    <span class="bg-secondary px-5 py-2 rounded border border-secondary">{{ pageInfo.currentPage }}</span>
    {% for page, url in pageInfo.getNextUrls(4) %}
        <a class="text-primary px-5 py-2 rounded border border-gray-300" href="{{ url }}">{{ page }}</a>
    {% endfor %}
    {% if pageInfo.nextUrl %}<a class="text-primary px-5 py-2 rounded border border-gray-300" href="{{ pageInfo.nextUrl }}">Next</a>{% endif %}
    {% if pageInfo.currentPage != pageInfo.totalPages %}<a class="text-primary px-5 py-2 rounded border border-gray-300" href="{{ pageInfo.lastUrl }}"> Last</a>{% endif %}
</div>