<div class="products--card relative">
  <div class="relative mb-4">
    <a class="products--card-link-overlay absolute block inset-0 z-10 text-0" href="{{ product.url }}"></a>
    <a href="{{ product.url }}">
      {% set image = product.productImages|length ? product.productImages.one : siteUrl ~ 'dist/images/image-placeholder-base.png' %}
      {% set imageSizes = [{ width: 1566, height: 1566 }] %}
      {% include '_components/picture' with { lazy: false, image: image, transform: imageSizes, alt: product.title } %}
    </a>
    <div class="products--card--info space-y-2">
      <div class="font-bold">{{ product.title }}</div>
      <div class="">{{ product.defaultVariant.salePrice|currency(cart.currency) }}</div>
    </div>
  </div>
  <card-add-to-cart :product="{{ product|json_encode }}"></card-add-to-cart>
</div>