{% extends '_layout' %}

{% block content %}
    <div class="container mx-auto py-10">
        <h1 class="text-xl font-bold">Forgot Password?</h1>
        <div class="">
            <form method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('users/send-password-reset-email') }}

                <label for="loginName" class="font-bold w-full block pb-2">Username or email</label>
                <input id="loginName" type="text" name="loginName" class="w-full"
                            value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">

                {% if errors is defined %}
                    <ul class="mt-3">
                        {% for error in errors %}
                            <li class="text-red-700">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mt-3 text-right">
                    <input type="submit" value="Submit" class="btn btn-secondary btn-solid">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
