{#
	# Customer index template
	# ---------------
#}

{% extends "customer/_layout" %}

{% block customerContent %}
  <div class="container max-w-screen-xl mx-auto flex sm:flex-row flex-col sm:justify-between mb-10">
    <div class="w-full sm:w-1/2 mr-6">
      <ul class="subnav m-0 mt-10">
        <span class="text-lg font-bold border-b border-gray-300 block pb-4">ORDERS</span>
        <li><a href="{{ url('customer/orders?status=in-progress') }}">Orders in progress <i class="float-right" data-jam="chevron-right" data-width="20" data-height="20"></i></a></li>
        <li><a href="{{ url('customer/orders') }}">Online orders <i class="float-right" data-jam="chevron-right" data-width="20" data-height="20"></i></a></li>
      </ul>
      <ul class="subnav m-0 mt-10">
        <span class="text-lg font-bold border-b border-gray-300 block pb-4">SETTINGS</span>
        <li><a href="{{ url('customer/update-preferences') }}">Marketing preferences <i class="float-right" data-jam="chevron-right" data-width="20" data-height="20"></i></a></li>
      </ul>
    </div>
    <div class="w-full sm:w-1/2 sm:ml-6">
      <ul class="subnav m-0 mt-10">
        <span class="text-lg font-bold border-b border-gray-300 block pb-4">YOUR ACCOUNT</span>
        <li><a href="{{ url('customer/update-profile') }}">Personal & Contact details <i class="float-right" data-jam="chevron-right" data-width="20" data-height="20"></i></a></li>
        <li><a href="{{ url('customer/update-password') }}">Update password <i class="float-right" data-jam="chevron-right" data-width="20" data-height="20"></i></a></li>
      </ul>
      <ul class="subnav m-0 mt-10">
        <span class="text-lg font-bold border-b border-gray-300 block pb-4">PAYMENT DETAILS</span>
        <li><a href="{{ url('customer/cards') }}">Your payment cards <i class="float-right" data-jam="chevron-right" data-width="20" data-height="20"></i></a></li>
        <li><a href="{{ url('customer/addresses') }}">Your addresses <i class="float-right" data-jam="chevron-right" data-width="20" data-height="20"></i></a></li>
      </ul>
    </div>
</div>
{% endblock %}