{#
	# Customer profile template
	# ---------------
#}

{% extends "customer/_layout" %}

{% block customerContent %}
  <div class="container max-w-screen-xl mx-auto flex flex-col md:flex-row justify-between my-10">
    {% include 'customer/_aside' %}
    <div class="w-full md:w-2/3">
      <h5 class="text-xl font-bold font-sans mb-4 border-b border-gray-300 block mt-5 pb-4">Update your password</h5>

        <form method="post" accept-charset="UTF-8">
          {{ csrfInput() }}
          <input type="hidden" name="action" value="users/save-user">
          {# Get logged-in user's ID #}
          <input type="hidden" name="userId" value="{{ currentUser.id }}">

          {% macro errorList(errors) %}
              {% if errors %}
                  <ul class="errors">
                      {% for error in errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endmacro %}

          {% from _self import errorList %}

          {# <div class="grid gap-3 gap-y-6 grid-cols-1 sm:grid-cols-2 relative mb-5">
          <div> #}
          <div class="grid gap-3 gap-y-6 grid-cols-1 md:grid-cols-2 mb-5">
              <div>
                  {# Enter current password #}
                  <h3><label for="password" class="font-bold w-full block pb-2" >Current Password</label></h3>
                  <input id="password" type="password" name="password" class="w-full">

                  {% if account is defined %}
                      {{ errorList(user.getErrors('password')) }}
                  {% endif %}
            </div>
            <div>
                  {# Enter new password #}
                  <h3><label for="newPassword" class="font-bold w-full block pb-2" >New Password</label></h3>
                  <input id="newPassword" type="password" name="newPassword" class="w-full">

                  {% if account is defined %}
                      {{ errorList(user.getErrors('newPassword')) }}
                  {% endif %}
              </div>
          
          </div>
            

          <input type="submit" value="Submit" class="btn btn-secondary btn-solid">

      </form>
    </div>
  </div>
{% endblock %}